{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p>{{ 'Id'|trans }}: {{ user.Id}}</p>
    <p>{{ 'Email'|trans }}: {{ user.Email}}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    
    
    {% endif %}
{% endblock fos_user_content %}
